.home-container{

    .hero-section {
        background-image: url("../../public/hero-section-bg.jpg");
        background-size: cover;
        background-position: center;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        &-bg-overlay {
        background-color: rgba(0, 0, 0, 0.7);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
        }
        & h1{
            font-weight: 600;
        }
        .container{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 30px;
            z-index: 1;
        }
    }
    section{
        min-height: 50vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    section.service{
        .accordion-body{
            display: flex;
            justify-content: start;
            flex-direction: column;
            gap: 10px;
        }
        .accordion-picture{
            width: 50%;
        }
    }
    section.testimonials{
        .testimonial-wrapper{
            display: flex;
            gap: 39px;
            flex-wrap: wrap;
            justify-content: center;

        }
    }
    section.cars{

        .carousel-item{
            img{
                width: 100%;
                height:100%;
            }
        }
    }
    section.about{
        display: flex;
        justify-content: center;
        align-items: center;
        
        .about-wrapper{
        background-color: bisque;
        margin-inline: 20px;
        display: flex;
        gap: 5vw;
        max-width: 1000px;
        

            .img{
                width: 50%;
                background: url("../../public/team.jpg");
                background-size: cover;
                background-position: center;
                border-radius: 15px;
            }
            }
            .text-wrapper{
                display: flex;
                flex-direction: column;
                gap: 10px;
                width: 50%;

                p{
                    margin: 0 !important;
                }
            }
        }
    }
    @media screen and (max-width :930px){
        .carousel-item{
            text-align: center;
            img{
                width: 70%;
            }
        }
    }
    @media screen and (max-width :768px){
        .home-container section.about .about-wrapper{
            display: flex;
            flex-direction: column;
            
            
            .img{
                height: 200px;
                width: 100%;

            }
            .text-wrapper{
                width: 100%;
            }
        }
    }

