{% extends 'base.html.twig' %}

{% block title %}New Testimonials{% endblock %}

{% block body %}
    <h1>Create new Testimonials</h1>

    {{ include('back_office/testimonials/_form.html.twig') }}

    <a href="{{ path('app_testimonials_index') }}">back to list</a>
{% endblock %}
