
{% form_theme form 'bootstrap_5_layout.html.twig' %}
{{ form_start(form) }}
    {{ form_widget(form) }}
    
    <button class="btn my-2 btn-success">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
