<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <header>
        <nav>
        <ul>
            {% if is_granted('ROLE_ADMIN') %}
            <li><a href="">Gestion Employés</a></li>
            <li><a href="">Gestion Horaires</a></li>
            <li><a href="">Gestion Services</a></li>
            {% endif %}

            <li><a href="">Gestion Véhicules</a></li>
            <li><a href="">Gestion Témoignages</a></li>
            <li><a href="">Gestion Contact</a></li>
        </ul>
        </nav>
    </header>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>